<div class="large-6 small-12 center text-card pad chat">
  <a href="/messages/<%= chat.id %>">
    <div class="users">Chat with:
    <%= (chat.users - [@current_user]).map { |x| display_name x }.join(", ") %>
    </div>
    <div class="last-message message">
      <div class="avatar-container">
        <% cache [chat.private_messages.first.user.id, chat.private_messages.first.user.updated_at, "avatar", "thumb"] do -%>
          <%= image_tag chat.private_messages.first.user.avatar.url(:thumb), class: "avatar" %>
        <% end -%>
      </div>
      <p class="body"><%= chat.private_messages.first.decrypted_body -%></p>
    </div>
  </a>
</div>