<div class="active-hidden" id="pgp-decrypt-form">
  <div class="medium-4 small-12 center lfg-form alone password-decrypt">
    <h1>Enter Password</h1>
    <p>It appears you set a manual password when generating your PGP keys, you will have to enter it here now to unlock your mailbox.</p>
    <form>
      <%= password_field_tag :pgp_password, "", placeholder: "Password" %>
      <%= submit_tag 'Unlock', class: 'btn', id: 'submit_button' %>
    </form>
  </div>
</div>