<div class="large-3 medium-3 small-6 columns user-card">
  <a href="/user/<%= user.username %>">
    <%= image_tag user.avatar(:large), class: "avatar #{role}" %>
    <span class="username"><%= display_name(user) %></span>
  </a>
</div>