<div data-equalizer data-equalizer-mq="large-up">
  <div class="large-3 small-12 sidebar-nav text-card left" data-equalizer-watch>
    <ul>
      <li class="active"><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/license">Third Party Licenses</a></li>
    </ul>
  </div>

  <div class="large-9 small-12 text-card pad right" id="static-text-card" data-equalizer-watch>
    <h2>FAQ</h2>

    <h6>What is League for Gamers?</h6>

    <p>League for Gamers (LFG for short), is a consumer focused gaming league encompassing video games, and also board games, and pen and paper gaming. We come together to promote positive gaming, good sportsmanship, research, learning and advocacy for our hobby.</p>

    <p>LFG relies on a spirit of volunteerism amongst its members. The idea is to provide a platform where gamers can come together and participate in a variety of activities and projects to promote gaming.</p>

    <h6>Why did you start LFG?</h6>

    <p>We started League for Gamers in response to the past year of ill-informed game and mainstream media press coverage of gaming. We felt that a positive force was needed to counteract the misinformation and negativity that has lately been shadowing the industry. LFG aims to counteract that with solidarity among gamers who are determined to show the benefits and fun of our chosen hobby.</p>

    <h6>What does it cost?</h6>

    <p>LFG will always support free membership. At a future point, we will offer an optional paid-membership to help support our efforts. This paid membership will be completely optional and a free base membership will always be available. LFG is an all unpaid, volunteer group, so we appreciate any and all of your support.</p>

    <h6>How does it work?</h6>

    <p>LFG is a like a mini social-network for gamers to connect with each other and engage in LFG projects. Members are the heart of the organization, and drive all activities. Members can view the current LFG projects and join or support these projects as they like.</p>

    <h6>What kinds of projects will LFG organize?</h6>

    <p>There are many areas of gaming that interest members. We recognize that different gamers are looking to get involved in different projects. We’ll have a range of projects over time, including charities, consumer advocacy, political activism, learning and development, game research and more. The idea is that members can choose what projects they wish to be involved with. There is no single thing that LFG does; it’s a platform to support many ideas that promote gaming and gamers.</p>

    <h6>Will LFG represent gamers in the media?</h6>

    <p>Many have asked if LFG will provide media interviews and perspectives when gaming news breaks on mainstream media. We are actively looking for a few spokespersons that can respond to gaming news, and also ways that we can establish contacts with media.</p>

    <h6>Will you be starting a PAC or lobbying lawmakers?</h6>

    <p>Our efforts in politics will first focus on e-mail and call-in campaigns to lawmakers when necessary. We will also monitor political news and alert members to legislation in areas that might affect games. Actual lobbying or a PAC fund is something beyond our scope or funding presently. </p>

    <h6>Will there be local chapters?</h6>

    <p>We would love to support local chapters and meetups in the future. But first, there is a lot of ground work that has to be prepared before we can license local chapters. We will let you know when we are ready for this important step.</p>

    <h6>How will you promote positivity in video games?</h6>

    <p>We believe it is important to highlight the positive effects of video games both among gamers and the general public. Games are a marvelous tool to help educate anyone and are shown to develop teamwork, good sportsmanship and leadership skills. </p>

    <p>We believe that these virtues can be expanded, celebrated and brought to the public’s attention at large. Key areas of our focus will be gamer lead charities, sponsorship of research into the positive effects of games, and educating the general public.</p>

    <h6>How will you help new and upcoming developers?</h6>

    <p>League for Gamers believes that fresh innovation and creativity are vital to video games as a hobby and as an industry. We believe the best way to foster this is to encourage and help new developers learn the ropes and get started turning their ideas into complete games.</p>

    <p>League for Gamers will be looking for opportunities to develop training materials and programs to assist new, aspiring developers. A key feature of the LFG website, the skills section, enables new developers to find collaborators with various skills needed to launch hobby or indie game projects. Business, promotional and marketing help are also planned for the future.</p>

    <h6>How will you advocate for gamers?</h6>

    <p>Gamers need a voice that represents them at both the industry and legislative levels. We are currently focused on two main issues surrounding the industry: ethical and fair treatment by both gaming press and mainstream media, and creative freedom for developers. </p>

    <p>League for Gamers believes the current climate of game and mainstream journalism to be unfairly biased against video games, many times through ignorance, or at worst, a lack of ethical reporting. League for Gamers intends to provide a loud, collective voice that gamers can get behind to help fight these unwarranted biases in the press. </p>

    <h6>How will you advocate for creative freedom?</h6>

    <p>As for creative freedom, games are considered protected speech under the 1st Amendment in the USA, but there is much work to be done here and elsewhere in the world to protect creative freedom in games. League for Gamers will engage and advocate for creative freedom wherever it is unjustly suppressed or attacked. </p>

    <h6>I want to help, what can I do?</h6>

    <p>The single, greatest thing you can do to help League for Gamers is to sign up. With numbers we can accomplish a lot to change the world of gaming for good. But this is not possible without being able to demonstrate to lawmakers, press and the industry that we are a large market force. When you’re done signing up, sign up your friends, family and anyone else you know who is a gamer. Together we can affect change and promote positivity.</p>
  </div>
</div>