<div data-equalizer data-equalizer-mq="large-up">
  <div class="large-3 small-12 sidebar-nav text-card left" data-equalizer-watch>
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li class="active"><a href="/license">Third Party Licenses</a></li>
    </ul>
  </div>

  <div class="large-9 small-12 text-card pad right" id="static-text-card" data-equalizer-watch>
    <h2>Third Party Licenses</h2>

    <h6><a href="https://icomoon.io/#preview-free">IcoMoon - Free</a></h6>

    <p><a href="https://www.gnu.org/licenses/gpl.html">GPL</a>/<a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></p>
    <p>Some icons used may be modified to be a white base color</p>
  </div>
</div>