<div data-equalizer data-equalizer-mq="large-up">
  <div class="large-2 small-12 sidebar-nav text-card left" data-equalizer-watch>
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms</a></li>
      <li class="active"><a href="/privacy">Privacy</a></li>
      <li><a href="/license">Third Party Licenses</a></li>
    </ul>
  </div>

  <div class="large-9 small-12 text-card pad right" id="static-text-card" data-equalizer-watch>
      <h2>Privacy Policy</h2>

      <p>Protecting your private information is our priority. This Statement of Privacy applies to the www.leagueforgamers.com and League For Gamers, Inc. and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to League For Gamers, Inc. include www.leagueforgamers.com and League For Gamers. The League For Gamers website is a Video Games site. By using the League For Gamers website, you consent to the data practices described in this statement.</p>

      <h6>Collection of your Personal Information</h6>
      <p>We do not collect personally identifiable information from our users aside from your e-mail address, which we store encrypted. We may gather personal or non-personal information in the future.</p>

      <p>Information about your computer hardware and software may be automatically collected by League For Gamers. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the League For Gamers website.</p>

      <p>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through League For Gamers's public feeds or your user profile, this information may be collected and used by others outside of our control.</p>

      <p>League For Gamers encourages you to review the privacy statements of websites you choose to link to from League For Gamers so that you can understand how those websites collect, use and share your information. League For Gamers is not responsible for the privacy statements or other content on websites outside of the League For Gamers website.</p>

      <h6>Use of Cookies</h6>
      <p>The League For Gamers website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>

      <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize League For Gamers pages, or register with League For Gamers site or services, a cookie helps League For Gamers to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same League For Gamers website, the information you previously provided can be retrieved, so you can easily use the League For Gamers features that you customized.</p>

      <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the League For Gamers services or websites you visit.</p>

      <h6>Security of your Personal Information</h6>

      <p>League For Gamers secures your personal information from unauthorized access, use or disclosure. We encrypt your e-mails and passwords and take best efforts to secure your information.</p>


      <h6>Children Under Thirteen</h6>
      <p>League For Gamers does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>


      <h6>Changes to this Statement</h6>
      <p>League For Gamers will occasionally update this Statement of Privacy to reflect company and customer feedback. League For Gamers encourages you to periodically review this Statement to be informed of how League For Gamers is protecting your information.</p>

      <h6>Contact Information</h6>
      <p>League For Gamers welcomes your questions or comments regarding this Statement of Privacy. If you believe that League For Gamers has not adhered to this Statement, please contact League For Gamers at:</p>

      <section itemscope itemtype="http://schema.org/Organization">
        
          <p><span itemprop="legalName">League For Gamers, Inc.</span><br>
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">65 Enterprise</span><br>
            <span itemprop="addressLocality">Aliso Viejo</span>, <span itemprop="addressRegion">California</span> <span itemprop="postalCode">92656</span></p>
          </span>

        <p>Email Address:<br>
        <a href="mailto:admin@leagueforgamers.com"><span itemprop="email">admin@leagueforgamers.com</span></a></p>

        <p>Telephone number:<br>
        <span itemprop="telephone">(949) 330-7559</span></p>
        <span class="hidden" itemprop="logo">http://static.leagueforgamers.com/logo.png</span>
        <span class="hidden" itemprop="url">http://leagueforgamers.com</span>
      </section>
      <p>Effective as of July 15, 2015</p>
  </div>
</div>