<div data-equalizer data-equalizer-mq="large-up">
  <div class="large-2 small-12 sidebar-nav text-card left" data-equalizer-watch>
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li class="active"><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
    </ul>
  </div>

  <div class="large-9 small-12 text-card pad right" id="static-text-card" data-equalizer-watch>
    <h2>League for Gamers Terms of Service</h2>

    <p>League for Gamers (LFG) provides social networking and collaborative services (Services) for video game advocacy and volunteerism. These Terms of Service ("TOS") govern your access to and use of these services. Your access and use of these services are conditioned on your acceptance and compliance with the TOS.</p>

    <h6>Privacy</h6>

    <p>We respect your privacy. Our Privacy Policy lists the details of how we collect and use your information when using our services.</p>

    <h6>Security</h6>

    <p>We take every reasonable step to provide your account with security. However, security is ultimately your responsibility. Please use strong passwords and do not share you account or login information with others. We highly recommend using a password manager such as Lastpass or KeePass to store your passwords.</p>

    <h6>Content</h6>

    <p>You own the content you post to the Services. By submitting content, you are granting us a worldwide, non-exclusive, royalty-free license to use, publish, modify, transmit, display and distribute what you post to LFG. This is so that we have your permission to share what you post with others using the Services.</p>

    <h6>Acceptable Content</h6>

    <p>League for Gamers is a supporter of free speech. If it's allowed speech under the 1st amendment of the US Constitution and its accompanying laws, its generally permissible on LFG (user behaviour guidelines apply). This means:</p>
    <ol>
      <li>No illegal pornography</li>
      <li>No illegal links or material</li>
      <li>No spamming (advertising or otherwise)</li>
    </ol>

    <h6>User Behavior</h6>

    <p>Our rules for user behaviour are simple. Don’t do anything illegal. Don’t dox or post personal information on others, public or otherwise, with the intent of exposing that user to harrasement or danger at work or at home. Do not spam messages to any group or feed.</p>

    <h6>Moderator Behavior</h6>

    <p>Moderators are held to a high standard on LFG. All edits and bans from groups are monitored and logged. These logs will be publicly available to all members. Moderators are expected to uphold the values of free speech. That said, moderators are free to moderate to keep groups on topic and enforce the general rules of the LFG website.</p>

    <h6>Right to Filter</h6>

    <p>Users have a right to determine what they personally wish to see and not see on LFG. This means users will be provided with muting, blocking and filtering tools in the future. These will be under user control, transparent in function and you may enable or disable them at any time. Note that your right to filter the content on LFG pertains only to you. You do not have the right to filter other people’s content. This includes blocklists.</p>

    <h6>Copyright</h6>

    <p>You are responsible for the material you post on the Services. You agree not to post material to which you do not have the IP rights to share with LFG or others. LFG reserves the right, without prior notice, to take down any content to which you do not have rights to post or that may infringe the IP rights of the owners of the content you are posting.</p>

    <h6>Disclaimers and Limitation of Liability</h6>

    <p>The Services are provide “as-is” and you use them at your own risk. LFG disclaims all warranties and condition, whether express or implied, of merchantability, fitness for a particular purpose or non-infringement.</p>

    <p>LFG is not responsible for any loss of data on our Services, uptime, security or reliability of the Services.</p>

    <h6>Termination</h6>

    <p>We may ban or suspend your account at any time, without prior notice, if LFG in its sole discretion finds you have violated any of the terms outline in this TOS. You may also delete your account at any time.</p>

    <h6>Disputes</h6>

    <p>You agree that all disputes will be settled by binding arbitration and that the terms herein will be governed by the laws of the State of California without regard to or application of its conflict of law provisions or your state or country of residence.</p>

    <h6>Legal Transparency</h6>

    <p>No warrants have ever been served to leagueforgamers.com, or leagueforgamers.com principals or employees.</p>
    <p>No searches or seizures of any kind have ever been performed on leagueforgamers.com assets.</p>
  </div>
</div>