<div class="small-12 large-6 text-card pad center">
  <h2>Password reset</h2>
  <p>An email has been sent with password reset instructions to the address entered, if there is an account associated with that email.</p>
  <br>
</div>