<div class="large-3 center lfg-form">
  <%= form_tag("/user/forgot_password", method: "post") do %>
    <div class="small-12"><h3>I forgot my password!<h3></div>
    <div class="small-12">
      <%= text_field_tag :email, nil, { placeholder: "E-mail address", required: true } %>
    </div>
    <div class="small-12">
      <%= submit_tag "Submit", class: "btn" %>
    </div>
  <% end -%>
</div>