<div class="large-6 small-12 center text-card pad lfg-form">
  <h2>Reset Password</h2>
  <p>Please enter a new password for <%= @user.username %></p>
  <%= form_tag "", method: 'post' do %>
    <div class="row collapse">
      <div class="small-12">
        <%= password_field :password, nil, placeholder: "New Password", required: true %>
      </div>
      <div class="small-4 right">
      <%= submit_tag 'Submit', class: "btn right" %>
    </div>
    </div>
  <% end %>
</div>