/*
 *= require fonts
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

.center {
	margin: 0 auto;
}
.hidden {
	display: none;
}
.active-hidden {
	transition: max-height 0.7s ease-out;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}
.active-hidden.unhide {
	transition: max-height 0.7s ease-in;
	max-height: 5000px;
	opacity: 1;
}