@import "foundation/functions";
@import "mixins";

.banned-message {
	text-align: center;
	border: rem-calc(3) dashed $primary-lighter-red;
	margin-bottom: rem-calc(15) !important;
	h1 {
		color: $primary-lighter-red !important;
	}
	p {
		display: block;
		float: none;
		font-weight: 400 !important;
		margin-bottom: rem-calc(5);
	}
}

#new-posts-button {
	display: none;
	text-align: center;
	background-color: $primary-red;
	color: $primary-cream;
	padding: rem-calc(3) 0;
	cursor: pointer;
}

.streamPost {
	display: inline-block;
	width: 100%;
	min-height: rem-calc(235);
	margin: rem-calc(10) 0;
	&:first-child {
		margin-top: rem-calc(25);
	}
	&.official {
		border: rem-calc(4) solid $primary-red;
	}
	&.hiding {
		min-height: 0;
	}
	.ban-user {
		position: absolute;
		width: rem-calc(26);
		height: rem-calc(26);
		top: rem-calc(-19);
		margin-left: rem-calc(1);
		&:hover, &:focus {
			// Glyphicon remove
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMAECAwQGBwkKCw0ODw81cYQwAAAJdJREFUeNqFUlsOAyEIBNaKz/tftwJu7abJdD5IYGR4CB1IWhD6gWifjq5PlnV+QfkwV5sPtOvDjFCyWqE7NsfNnEwbeVheaOp5dkTUewuGq3taOTjZSdlVC1FxrbzTVt1OVK16KWbrHZN4cQ92PKG0bCKTcrhsBLcNLpj/1AsIgjZA82BksCiwXvAp4CvBAYCzAccGTvQNWdgRBnI95oEAAAAASUVORK5CYII=);
			cursor: pointer;
		}
	}
	.follow-user {
		position: relative;
		display: inline-block;
		width: rem-calc(18);
		height: rem-calc(18);
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////+ORg7oAAAAHHRSTlMAbXByc3V3eX6BhIWIiYqLlJWXmJmbxsnO0PHy6tKDMQAAAF5JREFUeNqdkEkSgCAMBCO4R4kbLpD/v1NTeFAuWvQp06fJQECx91zDE8MXy0v1ouYE1Yma7qAtEZWbqKMyRLYAzxH+p3KxcpCNiKhWCbtuEQcVlUh86GucXCZswn0CKU8Qqgk47RIAAAAASUVORK5CYII=);
		-webkit-filter: drop-shadow(0 0 rem-calc(1) rgba(0,0,0,0.8));
		filter: drop-shadow(0 0 rem-calc(1) rgba(0,0,0,0.8));
		&:hover, &:focus {
			cursor: pointer;
		}
	}
	.user-controls {
		margin-top: rem-calc(5);
		display: block;
		a {
			display: inline-block;
			font-weight: 600;
			text-transform: uppercase;
			color: white;
			background: $primary-red;
			padding: rem-calc(1) rem-calc(3);
			font-size: 15pt;
			&.delete-post {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAQAAABqSHSNAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsSAAALEgHS3X78AAAAAmJLR0QAAKqNIzIAAAGISURBVBgZhcE7S5UBGADg5/38PAqSYkFQ4RARXWhpaarZpT/QUE2NjRH4W4KChsamluamglpaMgQviXr02NFzUc/FNz8ibDB7Hn/LIu/np2xnKz/ngyz8pcwLrjtjiFR67IYJ3PRIJwcCIzq+R75zRU0iFWaUfju05FAg9K1ENo07UAlp30AilMaFVKkZRD533oihfxtxqB5Z88SMPgKJQCKQGLXqlbyc3/J/FvJWYcuCytC2eW0DK5YN7Jm3aaCyql5o29BH2xuzPmp65ql1X816oalS1ywjs65rylAjFrOlb1lHTzcWc0Mf+zaiV6Cui1BmKFAzJhQZSoG2DQqsa6sEQjgWKl11CvzQcpq2NQqsajlNyyoFGvacpmONAjt2EU4S6GhSEIe2EU5S4KcuhUoDoRdpYKjnwNAw0oFEI5JSpalv1EROGzPirHGlWk6bNIodR0qVuk0X3TPnmikP9Z1TM+eOSbu2/JG382328yTDfJ93HSkdiS/52iVXpXQshCUv44MjvwAZKuMJERb1iwAAAABJRU5ErkJggg==);
				background-repeat: no-repeat;
				background-position: 50% rem-calc(4);
				width: rem-calc(28);
				height: rem-calc(32);
				vertical-align: bottom;
			}
			&.ban-post {
				display: block;
				text-align: center;
				font-size: 10pt;
				width: rem-calc(30);
				margin-top: rem-calc(5);
			}
		}
		.edit-controls {
			display: none;
			a {
				font-size: 9.7pt
			}
		}
	}
	.official-shield {
		display: block;
		margin: 0 auto;
		margin-top: rem-calc(10);
		text-align: center;
	}
	.body {
		position: relative;
		min-height: 100%;
		padding-left: rem-calc(10);
		padding-right: rem-calc(5);
		overflow-wrap: break-word;
		.title {
			display: inline-block;
			vertical-align: top;
			font-size: 16pt;
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			min-height: rem-calc(160);
			display: block;
			white-space: pre-wrap;
			font-size: 12pt;
			font-weight: 400;
		}
		.time-ago {
			text-align: right;
			float: right;
			text-transform: uppercase;
			bottom: 0;
			font-style: italic;
			font-weight: 600;
			font-size: 10pt;
		}
	}
	.user {
		padding: 0 rem-calc(5);
		.avatar {
			margin-top: rem-calc(-18);
		}
	}
	.bans {
		p {
			min-height: 0;
			margin-bottom: 0;
			color: $primary-lighter-red;
		}
	}
}
@media only screen and (max-width: 26em) {
	.streamPost {
		.user-controls {
			a {
				font-size: 12pt;
				&.delete-post {
					background-position: 50% rem-calc(2);
					width: rem-calc(25);
					height: rem-calc(26);
				}
			}
		}
		.edit-controls {
			a {
				width: 100%;
				margin-bottom: rem-calc(2);
				text-align: center;
				font-size: 12pt !important;
			}
		}
	}
}