@import "foundation/functions";
@import "mixins";

.banned-message {
	text-align: center;
	border: rem-calc(3) dashed $primary-lighter-red;
	margin-bottom: rem-calc(15) !important;
	h1 {
		color: $primary-lighter-red !important;
	}
	p {
		display: block;
		float: none;
		font-weight: 400 !important;
		margin-bottom: rem-calc(5);
	}
}

#new-posts-button {
	display: none;
	text-align: center;
	background-color: $primary-red;
	color: $primary-cream;
	padding: rem-calc(3) 0;
	cursor: pointer;
}

.streamPost {
	display: inline-block;
	width: 100%;
	min-height: rem-calc(235);
	margin: rem-calc(10) 0 0 0;
	&:first-child {
		margin-top: rem-calc(25);
	}
	&.official {
		border: rem-calc(4) solid $primary-red;
	}
	&.hiding {
		min-height: 0;
	}
	&.hidden-comments {
		margin-bottom: rem-calc(12);
	}
	.ban-user {
		position: absolute;
		width: rem-calc(26);
		height: rem-calc(26);
		top: rem-calc(-19);
		margin-left: rem-calc(1);
		&:hover, &:focus {
			// Glyphicon remove
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMAECAwQGBwkKCw0ODw81cYQwAAAJdJREFUeNqFUlsOAyEIBNaKz/tftwJu7abJdD5IYGR4CB1IWhD6gWifjq5PlnV+QfkwV5sPtOvDjFCyWqE7NsfNnEwbeVheaOp5dkTUewuGq3taOTjZSdlVC1FxrbzTVt1OVK16KWbrHZN4cQ92PKG0bCKTcrhsBLcNLpj/1AsIgjZA82BksCiwXvAp4CvBAYCzAccGTvQNWdgRBnI95oEAAAAASUVORK5CYII=);
			cursor: pointer;
		}
	}
	.follow-user {
		position: relative;
		display: inline-block;
		width: rem-calc(18);
		height: rem-calc(18);
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////+ORg7oAAAAHHRSTlMAbXByc3V3eX6BhIWIiYqLlJWXmJmbxsnO0PHy6tKDMQAAAF5JREFUeNqdkEkSgCAMBCO4R4kbLpD/v1NTeFAuWvQp06fJQECx91zDE8MXy0v1ouYE1Yma7qAtEZWbqKMyRLYAzxH+p3KxcpCNiKhWCbtuEQcVlUh86GucXCZswn0CKU8Qqgk47RIAAAAASUVORK5CYII=);
		-webkit-filter: drop-shadow(0 0 rem-calc(1) rgba(0,0,0,0.8));
		filter: drop-shadow(0 0 rem-calc(1) rgba(0,0,0,0.8));
		&:hover, &:focus {
			cursor: pointer;
		}
	}
	.user-controls {
		margin-top: rem-calc(5);
		display: block;
		a {
			display: inline-block;
			font-weight: 600;
			text-transform: uppercase;
			color: white;
			background: $primary-red;
			padding: rem-calc(1) rem-calc(3);
			font-size: 15pt;
			&.submit-post {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAApElEQVQ4y+XUQQ5BMRSF4RO8ERLrwcA6bMZW3pw5M0uSMCR+AyTVvKaO1kDcaduv57ZNpb8tYPINdAYcgGVt9Mi9LlXwCCXE+wXoXNJO0jga6kk610z6rA3QhJNHwAoY5JICpwS6flkPDIF9544FSUOUFG6hjwXbXFtW+wE8zSRZWEmNC7laSc3kXtIPcQ81zrwp+QO68DI0gddBo9fSvnX7P1830iVngdq2qn8AAAAASUVORK5CYII=);
				background-repeat: no-repeat;
				background-position: 50% rem-calc(4);
				width: rem-calc(32);
				height: rem-calc(32);
				vertical-align: bottom;
			}
			&.cancel-post {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAApUlEQVQ4y7WVWw6DIBBFKZswduOmJrinYvxwNac/JD4qeJHM/WXmhHk7lwT0wAx8AO9EAT75zEB/fuyAhU2TAgdewLDzW4F3DirBL6BHOBDJK1zBU/ih4BcdMFLWAS5AAcZSSH9pqbGt+UUQbbxaDFX5YjfA79vzAXySB6oCnoXKo9ssk1SYFM+k3UwGxGykLZeQxdr82i16s9N0Oqax4ZjG/TH9Af/V+uRGVD0cAAAAAElFTkSuQmCC);
				background-repeat: no-repeat;
				background-position: 50% rem-calc(4);
				width: rem-calc(32);
				height: rem-calc(32);
				vertical-align: bottom;
			}
			&.edit-post {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4AsMFh4q8McWQAAAAUVJREFUOMvF1b9KXEEUx/Fz8dr7p14RkTQ2smKfdEEs1M7nsMgbrE0E3yCpfIHd0sLCKiCpEthCRCsFdUuLVT5pBrwZljgbV/w1l/v7nftlztw5TMQYwipuPesSS/EaoY27BvQCi418DttvAT3DE3Ym0j5m8CNlPzH/btDS9qXnXCNbnPhKsYDzN4FCDq1x3YD20CptP22XUeCPyb/Kz+Q4UNzl4IMUbGR+UftJA6zn4D5uMJ35314D/ZDCw8xfxgO+v9Q+2qNOw14qWMv8z1jOvFYRNBWf4HfhmHf/2X6jcBZDdAqgW0UrTcW7qXCIfUyNqKmxkQbmZWj66Mjf6jSyNRxmg3NTAq1xn4GH6OBXw+vjaxqiuuRHfDJajzjFF6yMe+PUEbHZeB9ExHFE9CKiW1XV4H+vsgrdiOgn2GlVVY8xAf0BYfhCgVbm1CoAAAAASUVORK5CYII=);
				background-repeat: no-repeat;
				background-position: 50% rem-calc(4);
				width: rem-calc(32);
				height: rem-calc(32);
				vertical-align: bottom;
			}
			&.delete-post {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAQAAABqSHSNAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsSAAALEgHS3X78AAAAAmJLR0QAAKqNIzIAAAGISURBVBgZhcE7S5UBGADg5/38PAqSYkFQ4RARXWhpaarZpT/QUE2NjRH4W4KChsamluamglpaMgQviXr02NFzUc/FNz8ibDB7Hn/LIu/np2xnKz/ngyz8pcwLrjtjiFR67IYJ3PRIJwcCIzq+R75zRU0iFWaUfju05FAg9K1ENo07UAlp30AilMaFVKkZRD533oihfxtxqB5Z88SMPgKJQCKQGLXqlbyc3/J/FvJWYcuCytC2eW0DK5YN7Jm3aaCyql5o29BH2xuzPmp65ql1X816oalS1ywjs65rylAjFrOlb1lHTzcWc0Mf+zaiV6Cui1BmKFAzJhQZSoG2DQqsa6sEQjgWKl11CvzQcpq2NQqsajlNyyoFGvacpmONAjt2EU4S6GhSEIe2EU5S4KcuhUoDoRdpYKjnwNAw0oFEI5JSpalv1EROGzPirHGlWk6bNIodR0qVuk0X3TPnmikP9Z1TM+eOSbu2/JG382328yTDfJ93HSkdiS/52iVXpXQshCUv44MjvwAZKuMJERb1iwAAAABJRU5ErkJggg==);
				background-repeat: no-repeat;
				background-position: 50% rem-calc(4);
				width: rem-calc(32);
				height: rem-calc(32);
				vertical-align: bottom;
			}
			&.pin-post {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAABRklEQVQ4y62VPU7DQBCFn52StIC5AIoEFS0pkgaFhitgodwCUfBT5ACcISdAiij4kbgCEpFowaREIZ1RPgoGsSyOY8t+zWpn15/ezI53pYICVoAroKO6ZNA7vjWrDQ6sA0/86gNo1wVfAx4deD3OgQAY8lfVnQPnBnsDxrXAgb4DbQER8FwJDvSAFJgAWxbbBaZeWYrXHNgG3gtA/8EDB3IgKXK4oaQTG7tBEIwt3ZGkZo6fmaR9113LauhrYOttq2WWhl6fj/zUF8Evc6AX1oqRwR+AZlZdF8F9pUA/4w9t5h3a4RLoFOiVba9V4CUHmgA7ZaEhcL3E7VERVujNjyXtOfNEUixp4sTmZd12gE/H2S0Q2dom8GrxuOx9m9iHc2AANLw9P/C4KLQB3DiXTDdnb6twNwBnBr0HNup8z1Lg1E+9qr4Aw/e2+oiqYaEAAAAASUVORK5CYII=);
				background-repeat: no-repeat;
				background-position: 50% rem-calc(4);
				width: rem-calc(32);
				height: rem-calc(32);
				vertical-align: bottom;
				&.active {
					background-color: scale-color($primary-red, $lightness: 20%);
 				}
			}
			&.ban-post {
				display: block;
				text-align: center;
				font-size: 10pt;
				width: rem-calc(30);
				margin-top: rem-calc(5);
			}
		}
		.edit-controls {
			display: none;
			a {
				font-size: 9.7pt
			}
		}
	}
	.official-shield {
		display: block;
		margin: 0 auto;
		margin-top: rem-calc(10);
		text-align: center;
	}
	.body {
		position: relative;
		min-height: 100%;
		padding-left: rem-calc(10);
		padding-right: rem-calc(5);
		overflow-wrap: break-word;
		.title {
			display: inline-block;
			vertical-align: top;
			font-size: 16pt;
			font-weight: 700;
			text-transform: uppercase;
		}
		.main-section {
			min-height: rem-calc(165);
			margin-bottom: rem-calc(10);
			p {
				display: block;
				white-space: pre-wrap;
				font-size: 12pt;
				font-weight: 400;
				word-wrap: break-word;
				hyphens: auto;
				margin-bottom: rem-calc(3);
				&.ja {
					font-size: 14pt;
				}
			}
			.metadata-card {
				border: rem-calc(1) #C4C4C4 solid;
				border-radius: rem-calc(5);
				background-color: #E5E5E5;
				margin-top: rem-calc(7);
				.image-container {
					border-radius: rem-calc(5) rem-calc(5) 0 0;
					border-bottom: rem-calc(1) solid #C4C4C4;
					max-height: rem-calc(350);
					overflow: hidden;
					.image {
						width: 100%;
					}
				}
				.summary {
					color: $primary-text;
					padding: rem-calc(5);
					&.with_image {

					}
					p {
						min-height: initial;
						font-size: 11pt;
					}
					.sitename {
						color: #A1A1A1;
						font-size: 10pt
					}
				}
			}
		}
		.time-ago {
			text-align: right;
			float: right;
			text-transform: uppercase;
			bottom: 0;
			font-style: italic;
			font-weight: 600;
			font-size: 10pt;
		}
		.comment-count {
			float: right;
			margin-right: rem-calc(5);
			margin-bottom: rem-calc(2);
			line-height: 1.3;
			background-color: #C4C4C4;
			padding: rem-calc(1) rem-calc(3);
			border-radius: rem-calc(15);
			cursor: pointer;
			&.active {
				background-color: #FFA500;
			}
		}
	}
	.user {
		padding: 0 rem-calc(5);
		.avatar {
			margin-top: rem-calc(-18);
		}
	}
	.bans {
		p {
			min-height: 0;
			margin-bottom: 0;
			color: $primary-lighter-red;
		}
	}
}
@media only screen and (max-width: 26em) {
	.streamPost {
		.user-controls {
			a {
				font-size: 12pt;
				&.delete-post {
					background-position: 50% rem-calc(2);
					width: rem-calc(25);
					height: rem-calc(26);
				}
			}
		}
		.edit-controls {
			a {
				width: 100%;
				margin-bottom: rem-calc(2);
				text-align: center;
				font-size: 12pt !important;
			}
		}
	}
}
.comments {
	margin: rem-calc(-5) auto rem-calc(15) auto !important;
	border: 1px solid black;
	.new-comment {
		input[name=body] {
			width: 98%;
			margin: rem-calc(5) auto;
			padding: 0 rem-calc(5);
			font-size: 10pt;
			height: rem-calc(30);
		}
	}
	.no-comments {
		display: block;
		text-align: center;
		margin-bottom: rem-calc(3);
	}
	.comment {
		border-bottom: rem-calc(1) solid #c4c4c4;
		&:first-child {
			border-top: rem-calc(1) solid #c4c4c4;
		}
		&.highlight-comment {
			background-color: rgba(246, 255, 0, 0.15);
		}
		.avatar-container {
			float: left;
			max-width: rem-calc(32);
			max-height: rem-calc(32);
			margin: rem-calc(2);
			border: rem-calc(1) solid #c4c4c4;
			.avatar {
				-webkit-filter: none;
				filter: none;
			}
		}
		.body-container {
			.title {
				display: inline-block;
				vertical-align: top;
				a {
					vertical-align: top;
				}
			}
			.body {
				display: inline;
				white-space: pre-wrap;
				font-size: 11pt;
			}
			.edit-form {
				display: inline-block;
				width: 90%;
				input[name=body] {
					margin: rem-calc(5) auto;
					padding: 0 rem-calc(5);
					font-size: 10pt;
					height: rem-calc(30);
				}
			}
		}
		.controls {
			opacity: 0;
			float: right;
			margin-right: rem-calc(5);
			a {
				display: inline-block;
				background-repeat: no-repeat;
				&.edit-post {
					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAbsAAAG7AEedTg1AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAGlQTFRFAAAAgICAmZmZlpaWmpqalpaWl5eXmpqal5eXmpqamZmZmZmZmJiYmZmZmZmZmZmZmpqamZmZmZmZmpqampqamZmZmZmZmJiYmpqamZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZGJCoTwAAACJ0Uk5TAAQKESYnLD9ATlVaXnN/gIiJjI2mqq2zv8DDzs/f4+Tu+73uCPUAAABzSURBVBhXfY5JDoMwEATLkIBJAgNZyM7S/38kBzsW4pC6lWqkaYiY1LAiuLUbT0d/3LYuYK/xkFxAPWRgMjDJgGcLPvYGyOcCrEyd4zu8qn5Tr70DyL6h4ya9HEU3RMdL6j/zo97FlRdpup1yEvezd6xYAG8VCi55Rw3sAAAAAElFTkSuQmCC);
					width: rem-calc(17);
					height: rem-calc(17);
				}
				&.delete-post {
					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAIIAAACCABRbEo7wAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAETSURBVCiRzY4hS0NhFIaf832XgSLcOISBaUERmXFZEESwabN6w4KixV8gGNS0cE3+hYFhwbxsW7ZNuLBiWDh378qEMacLGnzLgeech/MaC9Jut9eSJOm7+2ar1fqY31ue5/fAEWAzPAIbwBtQznCZWScBziVdhBD6i77ORtKWpIcEGIUQ9iRtL5PMrCppFIATSU2gLmkHOARWgDNgFTiY8rqkpqRjA8jz/NXM7oAqsG9mp+PxeODu6zHGpxDCC/Au6SrLskZYVmlR/l6qVCoyM5vnXyRJ+tWn/yf1zKyTpukQeEzTdGhmHaD3ndRw94G7d4uiqJVleVsURc3du+4+kLT7eZhM57Ok6xjj5Q+tSuAGYAK19XLRHxdhewAAAABJRU5ErkJggg==);
					width: rem-calc(14);
					height: rem-calc(17);
				}
			}
			
		}
		&:hover, &:focus {
			.controls {
				opacity: 1;
			}
		}
	}
}