@import "foundation/functions";
@import "mixins";

.group-control-panel {
	display: none;
	min-width: rem-calc(200);
	&.shown {
		position: absolute;
		display: block;
		bottom: rem-calc(32);
		right: rem-calc(13);
		z-index: 999;
		background-color: $primary-red;
		$shadow-settings: 0 rem-calc(-15) rem-calc(15) rem-calc(-15) rgba(0,0,0,0.5), rem-calc(15) 0 rem-calc(15) rem-calc(-15) rgba(0,0,0,0.5), rem-calc(-15) 0 rem-calc(15) rem-calc(-15) rgba(0,0,0,0.5);
		-webkit-box-shadow: $shadow-settings;
		-moz-box-shadow: $shadow-settings;
		box-shadow: $shadow-settings;
	}
	&.expanded {
		min-width: rem-calc(400);
	}
	h2 {
		margin: 0;
		font-weight: 400;
		font-style: italic;
		font-size: 16pt;
		background-color: $primary-dark-red;
		padding: rem-calc(5) rem-calc(10);
		$shadow-settings: 0 rem-calc(4) rem-calc(4) rgba(0, 0, 0, 0.55);
		-webkit-box-shadow: $shadow-settings;
		-moz-box-shadow: $shadow-settings;
		box-shadow: $shadow-settings;
	}
	ul {
		margin: 0;
		li {
			padding: 0 rem-calc(10) !important;
			display: block !important;
			list-style: none;

			color: white;
			font-size: 16pt;
			font-weight: 600;
			
			&:nth-child(even) {
				background-color: scale-color($primary-red, $lightness: -30%);
			}
			
			.content {
				span {
					font-size: 12pt;
					font-weight: 400;
				}
				label {
					color: $primary-cream;
				}
				&#desc textarea {
					width: rem-calc(350);
				}
			}
		}
	}
}
.group-burger-button {
	font-size: 22pt;
	font-style: normal;
	color: white;
	line-height: 1.8rem;
	float: right;
}
.group-card {
	margin-bottom: rem-calc(10);
	float: left !important;
	max-width: rem-calc(330);
	max-height: rem-calc(168);
	img {
		border: rem-calc(1) solid #000;
	}
	.title {
		position: absolute;
		width: 90%;
		word-wrap: break-word;
		text-align: right;
		padding: 0 rem-calc(5);
		bottom: rem-calc(5);
		color: white;
		font-size: 18pt;
		font-weight: 600;
		text-shadow:
		   rem-calc(-1) rem-calc(-1) 0 #000,  
			rem-calc(1) rem-calc(-1) 0 #000,
		   rem-calc(-1)  rem-calc(1) 0 #000,
			rem-calc(1)  rem-calc(1) 0 #000;
		&.small {
			font-size: 14pt;
		}
	}
	.official-shield {
		position: absolute;
		left: rem-calc(5);
		top: rem-calc(-5);
		border: none;
		width: rem-calc(65);
		height: rem-calc(66);
	}
}
.menu-panel {
	background-color: $primary-red;
	padding: 0 rem-calc(5);
	height: rem-calc(50);
	margin-bottom: rem-calc(10);
	h2 {
		display: inline;
		margin: 0;
	}
	.navigator {
		a {
			color: white;
			font-size: 40pt;
			line-height: 0.7em;
		}
	}
	.group-search {
		line-height: 1em;
		margin-top: rem-calc(7);
		input[type="text"] {
			background-image: image-url('ui/search-icon.png');
			background-position: 98% 50%;
			background-repeat: no-repeat;
			background-color: #390202;
			border: none;
			font-style: italic;
			font-size: 14pt;
			text-transform: uppercase;
			width: 100%;
			color: #bfbfbf;
		}
	}
}
@media only screen and (max-width: 26em) {
	.group-card {
		.title {
			padding: 0 rem-calc(15);
			font-size: 12pt;
			&.small {
				font-size: 9pt;
			}
		}
		.official-shield {
			width: rem-calc(42);
			height: rem-calc(43);
		}
	}
	.menu-panel {
		h2 {
			font-size: 14pt;
			line-height: 2.8em;
		}
		.group-search {
			input[type="text"] {
				font-size: 11pt;
			}
		}
	}
	.group-control-panel {
		ul li .content#desc textarea {
			width: rem-calc(270);
		}
	}
}
@media only screen and (max-width: 23.438em) {
	.menu-panel {
		h2 {
			font-size: 13pt;
		}
		.group-search {
			input[type="text"] {
				font-size: 9pt;
			}
		}
	}
}