$primary-red: #8a0505;
$primary-lighter-red: #BD0707;
$primary-dark-red: #520404;
$primary-darker-red: #390202;

$primary-cream: #f2f1ee;
$primary-text: #2a384b;

$font: 'Oswald', 'a-otf-ud-shin-go-pr6n', Meiryo, sans-serif;