@import "foundation/functions";
@import "mixins";

#filtered-search-form {
	margin-bottom: rem-calc(15);
}
.avatar {
	$shadow: drop-shadow(rem-calc(5) rem-calc(5) rem-calc(8) rgba(0,0,0,0.6));
	-webkit-filter: $shadow;
	filter: $shadow;
}
.search-entry {
	display: inline-block;
	width: 100%;
	min-height: rem-calc(235);
	margin: rem-calc(15) 0 !important;
	.title {
		display: inline-block;
		vertical-align: top;
		font-size: 14pt;
		font-weight: 700;
		text-transform: uppercase;
	}
	.avatar {
		margin-top: rem-calc(-18);
	}
}

#join-the-league {
	padding: rem-calc(12) rem-calc(33);
	text-align: center;
	.logo {
		margin: 0 auto;
		margin-bottom: rem-calc(15);
	}
	p {
		text-align: justify;
		font-style: italic;
	}
}

.user-card {
	max-width: rem-calc(256);
	max-height: rem-calc(256);
	margin-bottom: rem-calc(10);
	float: left !important;
	img {
		min-width: rem-calc(226);
		min-height: rem-calc(226);
		border: rem-calc(5) solid;
		border-radius: rem-calc(5);
		&.owner {
			border-color: mix($primary-red, gold, 30%);
		}
		&.administrator {
			border-color: scale-color(forestgreen, $lightness: 15%)
		}
		&.moderator {
			border-color: scale-color(cornflowerblue, $lightness: -10%)
		}
		&.member {
			border-color: $primary-red;
		}
		&.banned {
			border-color: scale-color($primary-red, $lightness: -30%);
		}
	}
	.username {
		position: absolute;
		width: 90%;
		word-wrap: break-word;
		text-align: right;
		padding: 0 rem-calc(15);
		bottom: rem-calc(5);
		color: white;
		font-size: 18pt;
		font-weight: 600;
		text-shadow:
		   rem-calc(-1) rem-calc(-1) 0 #000,  
			rem-calc(1) rem-calc(-1) 0 #000,
		   rem-calc(-1)  rem-calc(1) 0 #000,
			rem-calc(1)  rem-calc(1) 0 #000;
	}
}

.profile-card {
	min-height: rem-calc(500);
	margin: rem-calc(15) auto;
	max-width: rem-calc(500);
	&.pad {
		padding: 0 rem-calc(18);
	}
	.title {
		display: inline-block;
		vertical-align: top;
		font-size: 16pt;
		font-weight: 700;
		text-transform: uppercase;
		&.long {
			font-size: 12pt;
		}
	}
	.bottom {
		padding-right: rem-calc(36);
		position: relative;
		bottom: 0;
		width: rem-calc(360);
	}
	.hidden-section {
		display: none;
		&.active {
			display: block;
			width: 93%;
			height: 95%;
			background-color: rgba(0, 0, 0, 0.30);
			z-index: 2;
			position: absolute;
			margin-left: rem-calc(-18);
		}
	}
	.edit-section {
		float: right;
		margin-top: rem-calc(-22);
		margin-right: rem-calc(-18);
		.hide {
			display: block;
			width: rem-calc(20);
			height: rem-calc(20);
			background-color: $primary-red;
			background-image: image-url('ui/eye-icon-sprite.png');
			background-repeat: no-repeat;
			background-position: 0 2px;
			&.disabled {
				background-color: #474747;
				background-position-x: -20px;
			}
		}
	}

	&.bio-card {
		.avatar {
			margin-top: rem-calc(-22);
			margin-right: rem-calc(15);
			float: left;
		}
		p {
			//text-align: justify;
			font-style: italic;
			font-weight: 400;
			font-size: 12pt;
			margin-top: rem-calc(10);
			text-transform: uppercase;
			overflow-wrap: break-word;
			white-space: pre-wrap;
			hyphens: auto;
			min-height: rem-calc(360);
			line-height: 1.6;
		}
		.website {
			font-weight: 600;
			font-size: 14pt;
			text-transform: uppercase;
		}
		.social-links {
			list-style: none;
			margin: 0;
			li {
				display: inline-block;
				a {
					display: block;
					width: rem-calc(45);
					height: rem-calc(45);
					&.facebook {
						background: image-url('ui/social-sprite.png') no-repeat 0 0;
					}
					&.googleplus {
						background: image-url('ui/social-sprite.png') no-repeat -45px 0;
					}
					&.instagram {
						background: image-url('ui/social-sprite.png') no-repeat -90px 0;
					}
					&.linkedin {
						background: image-url('ui/social-sprite.png') no-repeat 0 -45px;
					}
					&.twitter {
						background: image-url('ui/social-sprite.png') no-repeat -45px -45px;
					}
					&.youtube {
						background: image-url('ui/social-sprite.png') no-repeat -90px -45px;
					}
				}
			}
		}
	}
	&.skills-card {
		.skills {
			max-height: rem-calc(320);
			overflow-y: scroll;
			.skill {
				text-transform: uppercase;
				font-weight: 500;
				margin-top: rem-calc(5);
				.note {
					font-size: 10pt;
				}
				.bar {
					width: 100%;
					border: rem-calc(1) solid $primary-darker-red;
					.inlet {
						background-color: #8a0505;
						color: white;
						padding-left: rem-calc(8);
						&.size-1 { width: 10% }
						&.size-2 { width: 20% }
						&.size-3 { width: 30% }
						&.size-4 { width: 40% }
						&.size-5 { width: 50% }
						&.size-6 { width: 60% }
						&.size-7 { width: 70% }
						&.size-8 { width: 80% }
						&.size-9 { width: 90% }
						&.size-10 { width: 100% }
					}
				}
			}
		}
		.notes {
			min-height: rem-calc(88);
			vertical-align: bottom;
			h5 {
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
				text-align: justify
			}
		}
		.portfolio {
			font-weight: 600;
			font-size: 14pt;
			text-transform: uppercase;
		}
	}
	&.games-card {
		.games-list {
			max-height: rem-calc(460);
			overflow-y: scroll;
			height: 100%;
			.game {
				display: inline-block;
				text-align: center;
				img {
					display: block;
				}
			}
		}
	}
	&.settings-card {
		padding-bottom: rem-calc(10);
		input[type="text"], input[type="password"], textarea, select {
			background-color: white;
			border-color: $primary-darker-red
		}
		.avatar-upload {
			display: inline-block;
			vertical-align: top;
			width: rem-calc(178);
			margin-bottom: rem-calc(50);
			input[type="file"] {
				width: rem-calc(175);
				font-size: 10pt;
			}
		}
		.skills {
			overflow-y: scroll;
			max-height: rem-calc(390);
			.skill {
				.skill-title {
					text-align: left;
					width: 100%;
					display: block;
				}
				.confidence {
					text-align: right;
					select {
						width: rem-calc(50)
					}
				}
			}
		}
		.favourite-games {
			max-height: rem-calc(545);
			overflow-y: scroll;
		}
		.new-item-button {
			display: block;
			text-align: right;
			font-size: 38pt;
		}
		.new-pass {
			padding-right: rem-calc(5)
		}
		.confirm-pass {
			padding-left: rem-calc(5)
		}
	}
}

@media only screen and (max-width: 26em) {
	#join-the-league {
		padding: rem-calc(6) rem-calc(16);
		p {
			font-size: 11pt;
		}
	}
	.profile-card {
		min-height: rem-calc(200);
		&.settings-card {
			&.bio-card {
				.avatar {
					margin-top: 0;
				}
				.avatar-upload {
					margin-bottom: 0;
				}
			}
		}
		&.bio-card {
			p {
				min-height: rem-calc(230);
			}
		}
		&.skills-card {
			.portfolio {
				font-size: 10pt;
			}
		}
		&.games-card {
			.games-list {
				.game {
					.game-title {
						font-size: 11pt;
					}
				}
			}
		}
	}
}