@import "foundation/functions";
@import "mixins";

.new-post-form {
	margin-bottom: rem-calc(15) !important;
}
#filtered-search-form {
	margin-bottom: rem-calc(15);
}
.search-entry {
	display: inline-block;
	width: 100%;
	min-height: rem-calc(235);
	margin: rem-calc(15) 0 !important;
	.avatar {
		margin-top: rem-calc(-18);
		$shadow: rem-calc(5) rem-calc(4) rem-calc(8) 0 rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: $shadow;
		-moz-box-shadow: $shadow;
		box-shadow: $shadow;
	}
	.title {
		display: inline-block;
		vertical-align: top;
		font-size: 14pt;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.streamPost {
	display: inline-block;
	width: 100%;
	min-height: rem-calc(235);
	margin: rem-calc(10) 0;
	&.official {
		border: rem-calc(4) solid $primary-red;
	}
	.user-controls {
		margin-top: rem-calc(5);
		display: block;
		a {
			display: inline-block;
			font-weight: 600;
			text-transform: uppercase;
			color: white;
			background: $primary-red;
			padding: rem-calc(1) rem-calc(3);
			font-size: 15pt;
			&.delete-post {
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAQAAABqSHSNAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsSAAALEgHS3X78AAAAAmJLR0QAAKqNIzIAAAGISURBVBgZhcE7S5UBGADg5/38PAqSYkFQ4RARXWhpaarZpT/QUE2NjRH4W4KChsamluamglpaMgQviXr02NFzUc/FNz8ibDB7Hn/LIu/np2xnKz/ngyz8pcwLrjtjiFR67IYJ3PRIJwcCIzq+R75zRU0iFWaUfju05FAg9K1ENo07UAlp30AilMaFVKkZRD533oihfxtxqB5Z88SMPgKJQCKQGLXqlbyc3/J/FvJWYcuCytC2eW0DK5YN7Jm3aaCyql5o29BH2xuzPmp65ql1X816oalS1ywjs65rylAjFrOlb1lHTzcWc0Mf+zaiV6Cui1BmKFAzJhQZSoG2DQqsa6sEQjgWKl11CvzQcpq2NQqsajlNyyoFGvacpmONAjt2EU4S6GhSEIe2EU5S4KcuhUoDoRdpYKjnwNAw0oFEI5JSpalv1EROGzPirHGlWk6bNIodR0qVuk0X3TPnmikP9Z1TM+eOSbu2/JG382328yTDfJ93HSkdiS/52iVXpXQshCUv44MjvwAZKuMJERb1iwAAAABJRU5ErkJggg==);
				background-repeat: no-repeat;
				background-position: 50% rem-calc(4);
				width: rem-calc(28);
				height: rem-calc(32);
				vertical-align: bottom;
			}
		}
		.edit-controls {
			display: none;
			a {
				font-size: 9.7pt
			}
			&.show {
				display: inline-block;
			}
		}
	}
	.official-shield {
		display: block;
		margin: 0 auto;
		margin-top: rem-calc(10);
		text-align: center;
	}
	.body {
		position: relative;
		min-height: 100%;
		padding-left: rem-calc(10);
		padding-right: rem-calc(5);
		.title {
			display: inline-block;
			vertical-align: top;
			font-size: 16pt;
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			min-height: rem-calc(160);
			display: block;
			white-space: pre-wrap;
			font-size: 12pt;
			font-weight: 400;
		}
		.time-ago {
			text-align: right;
			float: right;
			text-transform: uppercase;
			bottom: 0;
			font-style: italic;
			font-weight: 600;
			font-size: 10pt;
		}
	}
	.user {
		padding: 0 rem-calc(5);
		.avatar {
			margin-top: rem-calc(-18);
			$shadow: rem-calc(5) rem-calc(4) rem-calc(8) 0 rgba(0, 0, 0, 0.4);
			-webkit-box-shadow: $shadow;
			-moz-box-shadow: $shadow;
			box-shadow: $shadow;
		}
	}
}
@media only screen and (max-width: 26em) {
	.streamPost {
		.user-controls {
			a {
				font-size: 12pt;
				&.delete-post {
					background-position: 50% rem-calc(2);
					width: rem-calc(25);
					height: rem-calc(26);
				}
			}
		}
		.edit-controls {
			a {
				width: 100%;
				margin-bottom: rem-calc(2);
				text-align: center;
				font-size: 12pt !important;
			}
		}
	}
}

#join-the-league {
	padding: rem-calc(12) rem-calc(33);
	text-align: center;
	.logo {
		margin: 0 auto;
		margin-bottom: rem-calc(15);
	}
	p {
		text-align: justify;
		font-style: italic;
	}
}

.profile-card {
	min-height: rem-calc(500);
	margin: rem-calc(15) auto;
	max-width: rem-calc(500);
	&.pad {
		padding: 0 rem-calc(18);
	}
	.title {
		display: inline-block;
		vertical-align: top;
		font-size: 16pt;
		font-weight: 700;
		text-transform: uppercase;
		&.long {
			font-size: 12pt;
		}
	}
	.bottom {
		padding-right: rem-calc(36);
		position: relative;
		bottom: 0;
		width: rem-calc(360);
	}
	.hidden-section {
		display: none;
		&.active {
			display: block;
			width: 93%;
			height: 95%;
			background-color: rgba(0, 0, 0, 0.30);
			z-index: 2;
			position: absolute;
			margin-left: rem-calc(-18);
		}
	}
	.edit-section {
		float: right;
		margin-top: rem-calc(-22);
		margin-right: rem-calc(-18);
		.hide {
			display: block;
			width: rem-calc(20);
			height: rem-calc(20);
			background-color: $primary-red;
			background-image: image-url('ui/eye-icon-sprite.png');
			background-repeat: no-repeat;
			background-position: 0 2px;
			&.disabled {
				background-color: #474747;
				background-position-x: -20px;
			}
		}
	}

	&.bio-card {
		.avatar {
			margin-top: rem-calc(-22);
			$shadow: rem-calc(5) rem-calc(4) rem-calc(10) 0 rgba(0, 0, 0, 0.4);
			-webkit-box-shadow: $shadow;
			-moz-box-shadow: $shadow;
			box-shadow: $shadow;
			float: left;
			margin-right: rem-calc(15);
		}
		p {
			text-align: justify;
			font-style: italic;
			font-weight: 400;
			font-size: 12pt;
			margin-top: rem-calc(10);
			text-transform: uppercase;
			overflow-wrap: break-word;
			white-space: pre-wrap;
			hyphens: auto;
			min-height: rem-calc(360)
		}
		.website {
			font-weight: 600;
			font-size: 14pt;
			text-transform: uppercase;
		}
		.social-links {
			list-style: none;
			margin: 0;
			li {
				display: inline-block;
				a {
					display: block;
					width: rem-calc(45);
					height: rem-calc(45);
					&.facebook {
						background: image-url('ui/social-sprite.png') no-repeat 0 0;
					}
					&.googleplus {
						background: image-url('ui/social-sprite.png') no-repeat -45px 0;
					}
					&.instagram {
						background: image-url('ui/social-sprite.png') no-repeat -90px 0;
					}
					&.linkedin {
						background: image-url('ui/social-sprite.png') no-repeat 0 -45px;
					}
					&.twitter {
						background: image-url('ui/social-sprite.png') no-repeat -45px -45px;
					}
					&.youtube {
						background: image-url('ui/social-sprite.png') no-repeat -90px -45px;
					}
				}
			}
		}
	}
	&.skills-card {
		.skills {
			max-height: rem-calc(320);
			overflow-y: scroll;
			.skill {
				text-transform: uppercase;
				font-weight: 500;
				margin-top: rem-calc(5);
				.note {
					float: right;
				}
				.bar {
					width: 100%;
					border: rem-calc(1) solid $primary-darker-red;
					.inlet {
						background-color: #8a0505;
						color: white;
						padding-left: rem-calc(8);
						&.size-1 { width: 10% }
						&.size-2 { width: 20% }
						&.size-3 { width: 30% }
						&.size-4 { width: 40% }
						&.size-5 { width: 50% }
						&.size-6 { width: 60% }
						&.size-7 { width: 70% }
						&.size-8 { width: 80% }
						&.size-9 { width: 90% }
						&.size-10 { width: 100% }
					}
				}
			}
		}
		.notes {
			min-height: rem-calc(88);
			vertical-align: bottom;
			h5 {
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
				text-align: justify
			}
		}
		.portfolio {
			font-weight: 600;
			font-size: 14pt;
			text-transform: uppercase;
		}
	}
	&.games-card {
		.games-list {
			max-height: rem-calc(460);
			overflow-y: scroll;
			height: 100%;
			.game {
				display: inline-block;
				text-align: center;
				img {
					display: block;
				}
			}
		}
	}
	&.settings-card {
		padding-bottom: rem-calc(10);
		input[type="text"], input[type="password"], textarea, select {
			background-color: white;
			border-color: $primary-darker-red
		}
		.avatar-upload {
			display: inline-block;
			vertical-align: top;
			width: rem-calc(178);
			margin-bottom: rem-calc(50);
			input[type="file"] {
				width: rem-calc(175);
				font-size: 10pt;
			}
		}
		.skills {
			overflow-y: scroll;
			max-height: rem-calc(390);
			.skill {
				.skill-title {
					text-align: left;
					width: 100%;
					display: block;
				}
				.confidence {
					text-align: right;
					select {
						width: rem-calc(50)
					}
				}
			}
		}
		.favourite-games {
			max-height: rem-calc(545);
			overflow-y: scroll;
		}
		.new-item-button {
			display: block;
			text-align: right;
			font-size: 38pt;
		}
		.new-pass {
			padding-right: rem-calc(5)
		}
		.confirm-pass {
			padding-left: rem-calc(5)
		}
	}
}

@media only screen and (max-width: 26em) {
	#join-the-league {
		padding: rem-calc(6) rem-calc(16);
		p {
			font-size: 11pt;
		}
	}
	.profile-card {
		&.settings-card {
			&.bio-card {
				.avatar {
					margin-top: 0;
				}
				.avatar-upload {
					margin-bottom: 0;
				}
			}
		}
		&.skills-card {
			.portfolio {
				font-size: 10pt;
			}
		}
		&.games-card {
			.games-list {
				.game {
					.game-title {
						font-size: 11pt;
					}
				}
			}
		}
	}
}